* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.playground {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
}

.player {
  position: absolute;
  width: 40px;
  height: 40px;
}

.right {
  transform: rotate(-90deg);
}

.left {
  transform: rotate(90deg);
}

.top {
  transform: rotate(180deg);
}

.food {
  position: absolute;
  width: 40px;
  height: 40px;
}

@keyframes congratulationsColor {
    20% {background-color: rgb(253, 171, 171);}
    40% {background-color: rgb(247, 187, 250);}
    60% {background-color: rgb(168, 222, 255);}
    80% {background-color: rgb(175, 255, 175);}
    100% {background-color: rgb(255, 188, 180);}
}


.congratulations {
    animation: congratulationsColor 4s alternate infinite;
}