* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.playground {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgb(223, 244, 248);
}

.player {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px dotted lightblue;
  background: lightcoral;
}
