* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

:root {
  --gameOverBgColor: rgba(207, 87, 87, 0.502);
  --CongratsBColor: rgba(188, 212, 188, 0.404);
}

.window button {
  display: block;
  border: 1px solid rgba(116, 116, 116, 0.42);
  color: rgba(0, 0, 0, 0.598);
  box-shadow: 0px 3px 5px 0px;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 40px;
  text-transform: uppercase;
  transition: all 0.4s;
}

.window button:hover {
  box-shadow: 0 0 0 0;
}

header {
  display: flex;
  padding: 10px 20px;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px dotted rgb(179, 178, 178);
}

.info-container {
  display: flex;
  width: 100%;
  max-width: 60%;
  justify-content: space-between;
}

.info-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.img-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

.img-container ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
  width: 80px;
}

.img-container ul li:first-child {
  margin-left: 10px;
}

.img-container ul li::after {
  content: ",";
}

.img-container ul li:last-of-type::after {
  content: "";
}

.blue-cheese-timer,
.start-timer,
.points {
  padding: 0 0px 0 0px;
  font-size: 2rem;
  font-weight: bolder;
  flex: 1;
}

.red {
  color: red;
}

.blue-cheese-timer {
  color: rgba(0, 125, 234, 0.404);
}

.bad-cheese {
  color: #879667af;
}

.playground {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  flex: 1;
  background: rgb(255, 255, 255);
}

.player {
  position: absolute;
  padding: 5px;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 1;
}

.right {
  transform: rotate(-90deg);
}

.left {
  transform: rotate(90deg);
}

.top {
  transform: rotate(180deg);
}

.food,
.trap,
.blue-food {
  position: absolute;
  background-color: transparent;
  width: 40px;
  height: 40px;
  object-fit: contain;
}

@keyframes gameOver {
  20% {
    transform: scale(0.8);
    transform: rotate(180deg);
  }
  40% {
    transform: scale(0.6);
  }
  60% {
    transform: scale(0.4);
  }
  80% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0);
  }
}

.traped-mouse {
  animation: gameOver 0.7s forwards;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

.window {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
  color: rgba(0, 0, 0, 0.598);
  z-index: 1;
}

.window h1 {
  align-self: center;
  font-size: 5rem;
  transform: scale(0);
  transition: all 0.2s;
}

.game-info {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 40px;
  align-self: flex-end;
  width: 100%;
  max-width: 30%;
}

.game-info span {
  font-weight: bold;
}

.game-over {
  background: rgba(174, 73, 73, 0.502);
}

.game-over button {
  background: var(--gameOverBgColor);
}

@keyframes gameOverH1 {
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.game-over h1 {
  animation: gameOverH1 4s forwards;
}

@keyframes congratulationsColor {
  20% {
    background: rgba(162, 250, 162, 0.6);
  }
  40% {
    background: rgb(178, 237, 252, 0.6);
  }
  60% {
    background: rgba(220, 186, 249, 0.6);
  }
  80% {
    background: rgb(247, 248, 172, 0.6);
  }
  100% {
    background: rgb(252, 183, 246, 0.6);
  }
}

@keyframes congratulationsH1 {
  20% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.congratulations {
  animation: congratulationsColor 4s alternate infinite;
}

.congratulations h1 {
  animation: congratulationsH1 4s alternate infinite;
}
.congratulations button {
  background: var(--CongratsBColor);
}

.display {
  display: none;
}

footer {
  display: none;
  justify-content: center;
  border-top: 1px dotted rgb(179, 178, 178);
}

.control-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 100%;
  max-width: 30%;
}

.control-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 0 0 0;
  background: transparent;
}

.control-item img {
  height: 30px;
  object-fit: cover;
}

.control-top {
  grid-column: 2 / span 1;
  transform: rotate(180deg);
}

.control-right {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
  transform: rotate(-90deg);
}

.control-button {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.control-left {
  grid-column: 1 / span 1;
  transform: rotate(90deg);
}

@media only screen and (max-width: 800px) {
  footer {
    display: flex;
  }

  .game-over h1,
  .congratulations h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .game-info {
    flex-direction: column;
    max-width: 80%;
  }
}
